.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: var(--gutter);
}

.grid > * {
  width: 100%;
  min-width: 0;
  aspect-ratio: 4 / 5;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
